## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Rikitea,PF,-23.1203,-134.9692,72.48,77,3,2.33,clear sky
1,1,Cherskiy,RU,68.7500,161.3000,32.34,75,100,10.40,overcast clouds
2,2,Barrow,US,71.2906,-156.7887,39.22,87,90,11.50,overcast clouds
3,3,Hobyo,SO,5.3505,48.5268,77.65,82,98,25.72,overcast clouds
4,4,Gamboma,CG,-1.8764,15.8644,74.70,77,96,3.04,overcast clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hobyo,SO,5.3505,48.5268,77.65,82,98,25.72,overcast clouds
9,9,Atuona,PF,-9.8000,-139.0333,78.48,67,7,22.64,clear sky
10,10,Kapaa,US,22.0752,-159.3190,80.58,76,75,1.01,broken clouds
15,15,Salalah,OM,17.0151,54.0924,82.49,83,75,5.75,broken clouds
21,21,Conde,BR,-7.2597,-34.9075,83.66,61,75,17.27,broken clouds
23,23,Avarua,CK,-21.2078,-159.7750,75.25,78,40,16.11,scattered clouds
28,28,Naze,JP,28.3667,129.4833,79.77,84,100,15.97,overcast clouds
35,35,Butterworth,MY,5.3991,100.3638,77.05,90,40,0.00,light rain
38,38,Castro,BR,-24.7911,-50.0119,83.80,37,0,8.50,clear sky
45,45,Arraial Do Cabo,BR,-22.9661,-42.0278,78.76,83,40,10.36,scattered clouds

In [11]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                243
City                   243
Country                243
Lat                    243
Lng                    243
Max Temp               243
Humidity               243
Cloudiness             243
Wind Speed             243
Current Description    243
dtype: int64

In [10]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
#there were no empty rows but if there were I'd us this to drop them
preferred_cities_df.dropna()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
3,3,Hobyo,SO,5.3505,48.5268,77.65,82,98,25.72,overcast clouds
9,9,Atuona,PF,-9.8000,-139.0333,78.48,67,7,22.64,clear sky
10,10,Kapaa,US,22.0752,-159.3190,80.58,76,75,1.01,broken clouds
15,15,Salalah,OM,17.0151,54.0924,82.49,83,75,5.75,broken clouds
21,21,Conde,BR,-7.2597,-34.9075,83.66,61,75,17.27,broken clouds
...,...,...,...,...,...,...,...,...,...,...
696,696,Ngawen,ID,-7.0032,111.3129,75.94,86,79,4.56,broken clouds
697,697,Qui Nhon,VN,13.7667,109.2333,79.99,80,89,5.01,overcast clouds
708,708,Manzil Salim,TN,35.8567,8.4765,80.60,34,5,13.78,clear sky
711,711,Cortez,US,37.3489,-108.5859,86.67,31,1,10.36,clear sky
713,713,Jalingo,NG,8.8833,11.3667,77.47,85,65,3.53,moderate rain

In [13]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
3,Hobyo,SO,77.65,overcast clouds,5.3505,48.5268,
9,Atuona,PF,78.48,clear sky,-9.8000,-139.0333,
10,Kapaa,US,80.58,broken clouds,22.0752,-159.3190,
15,Salalah,OM,82.49,broken clouds,17.0151,54.0924,
21,Conde,BR,83.66,broken clouds,-7.2597,-34.9075,
23,Avarua,CK,75.25,scattered clouds,-21.2078,-159.7750,
28,Naze,JP,79.77,overcast clouds,28.3667,129.4833,
35,Butterworth,MY,77.05,light rain,5.3991,100.3638,
38,Castro,BR,83.80,clear sky,-24.7911,-50.0119,
45,Arraial Do Cabo,BR,78.76,scattered clouds,-22.9661,-42.0278,

In [29]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
#     # 6c. Get latitude and longitude from DataFrame
#     # 6d. Set up the base URL for the Google Directions API to get JSON data.
#     # 6e. Make request and retrieve the JSON data from the search. 
for index, row in hotel_df.iterrows():
    lat = row['Lat']
    lng = row['Lng']

    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json?'
    params = {'key': g_key, 'type':'lodging', 'radius' : 5000}
    params['location'] = f"{lat},{lng}"
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.

    try: 
        hotels = requests.get(base_url, params= params).json()

        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping')

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [31]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.count()

City                   243
Country                243
Max Temp               243
Current Description    243
Lat                    243
Lng                    243
Hotel Name             243
dtype: int64

In [32]:
# 8a. Create the output File (CSV)
output_data_file = ("Weather_Database/WeatherPy_vacation.csv")
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>

</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))